<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet" />
<script src="/scribble/js/jquery-1.8.3.min.js"></script>
<script src="/scribble/css/5grid/init.js?use=mobile,desktop,1200px,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
<noscript>
	<link rel="stylesheet" href="/scribble/css/5grid/core.css" />
	<link rel="stylesheet" href="/scribble/css/5grid/core-desktop.css" />
	<link rel="stylesheet" href="/scribble/css/5grid/core-1200px.css" />
	<link rel="stylesheet" href="/scribble/css/5grid/core-noscript.css" />
	<link rel="stylesheet" href="/scribble/css/style.css" />
	<link rel="stylesheet" href="/scribble/css/style-desktop.css" />
	<link rel="stylesheet" href="/scribble/css/style-1200px.css" />
</noscript>
<link rel="stylesheet" href="/scribble/css/custom.css" />