@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

#content-inner ul {
	list-style-type: disc;
	list-style-position: inside;
}   

.nuget-badge code {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #202020;
    border: 4px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display: block;
    font: 1.5em 'andale mono', 'lucida console', monospace;
    line-height: 1.5em;
    overflow: auto;
    padding: 15px;
}

h3 {
	 font-size: 2.25em;
	 line-height: 2.35em;
}

pre, code { 
    font-family: 'Cutive Mono', serif;
    margin-bottom: 1em;
    font-weight: 700;
}

pre code {
    line-height: 1em;
}